:host {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
}

.header {
  color: var(--category-color);
  font-family: var(--category-font-family);
  font-size: var(--category-font-size);
  font-weight: var(--category-font-weight);
  font-style: var(--category-font-style);
  background-color: var(--category-bg-color);

  padding: 1rem;
  border-radius: .5rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  button {
    cursor: pointer;

    img {
      height: 2rem;
    }
  }
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;

  gap: 1rem;
}
