:host {
  margin-top: 2rem;
  padding: 1rem 1rem;
  border-top: #eeeeee inset;

  @import "../../scss/footer";

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  a {
    color: var(--link-color);
  }

  #email {
    cursor: pointer;
    user-select: none;

    transition: color ease-out 0.5s;
    &:active {
      color: var(--link-color);
      transition: none;
    }
  }

  .left {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  .right {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    gap: 1rem;
  }
}
