a {
  display: block;
  padding: 1rem 2rem;
  border-radius: .8rem;

  background-color: var(--auth-bg-color);
  color: var(--auth-color);
  font-family: var(--auth-font-family);
  font-size: var(--auth-font-size);
  font-weight: var(--auth-font-weight);
  font-style: var(--auth-font-style);

  @import "../../scss/underline-animation";
}
