@if (!editing) {
  <a class="card" [href]="url">
    <ng-container *ngTemplateOutlet="card" />
  </a>
} @else {
  <button class="card edit">
    <ng-container *ngTemplateOutlet="card" />

    <button class="btn">
      <img [alt]="'close item ' + name + ' icon'" ngSrc="assets/img/close.svg" width="50" height="50" />
    </button>
  </button>
}

<ng-template #card>
  <div class="card-content">
    <div class="img-container">
      <img class="logo" [alt]="name + ' logo'" [ngSrc]="imageUrl" fill />
    </div>
    <div class="title">
      <span>{{name}}</span>
    </div>
  </div>
</ng-template>
