@if (!editing) {
  <a class="card" [href]="url">
    <ng-container *ngTemplateOutlet="card" />
  </a>
} @else {
  <button class="card edit">
    <ng-container *ngTemplateOutlet="card"/>

    <button class="btn">
      <img src="assets/img/close.svg"/>
    </button>
  </button>
}

<ng-template #card>
  <div class="card-content">
    <div class="img-container">
      <img class="logo" [src]="imageUrl"/>
    </div>
    <div class="title">
      <span><ng-content/></span>
    </div>
  </div>
</ng-template>
